.submarine-scuba-animation-button {
  animation-name: pulse;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes pulse {
            0% {
                transform: scale(0.9);
            }
  
            100% {
                transform: scale(1.0);
            }
        }